// Palette URL: http://paletton.com/#uid=11T0C0kw0w0jyC+oRxVy4oIDfjr */
// As hex codes */
$color-primary-0: #FFFF00;	// Main Primary color */
$color-primary-1: #FFFF63;
$color-primary-2: #FFFF39;
$color-primary-3: #C5C500;
$color-primary-4: #9B9B00;

// As RGBa codes */
$rgba-primary-0: rgba(255,255,  0,1);	// Main Primary color */
$rgba-primary-1: rgba(255,255, 99,1);
$rgba-primary-2: rgba(255,255, 57,1);
$rgba-primary-3: rgba(197,197,  0,1);
$rgba-primary-4: rgba(155,155,  0,1);

body {
  background-color: $color-primary-0;
  color: $color-primary-4;
}

.container {
  opacity: .95;
  background-color: black;
}

h1 {
  font-size: 4.5em;
  text-align: center;
  color: $color-primary-4;
  font-family: 'Fredericka the Great';
}
